## How to Calculate RSI in Python
## By Bankej Soni

### We Calculate RSI By calculating the following things first -

### RSI = 100 – 100/ (1 + RS)
### RS = Average Gain of n days UP  / Average Loss of n days DOWN
### For a practical example, the built-in Pine Script function rsi(), could be replicated in long form as follows.

### change = change(close)
### gain = change >= 0 ? change : 0.0
### loss = change < 0 ? (-1) * change : 0.0
### avgGain = rma(gain, 14)
### avgLoss = rma(loss, 14)
### rs = avgGain / avgLoss
### rsi = 100 - (100 / (1 + rs))
### "rsi", above, is exactly equal to rsi(close, 14).

More detailed explaination - https://www.tradingview.com/scripts/relativestrengthindex/

In [1]:
# The RSI Function

In [2]:
import numpy # importing numpy is required for the function to work properly
def RSI (DF, n = 14):
    df = DF.copy()
    df["change"] = df["Adj Close"] - df["Adj Close"].shift(1)
    df["gain"] = numpy.where(df["change"]>=0,df["change"],0)
    df["loss"] = numpy.where(df["change"]<0,-1*df["change"],0)
    df["avgGain"] = df["gain"].ewm(alpha = 1/n, min_periods = n).mean()
    df["avgLoss"] = df["loss"].ewm(alpha = 1/n, min_periods = n).mean()
    df["rs"] = df["avgGain"]/df["avgLoss"]
    df["rsi"] = 100 - (100/(1+df["rs"]))
    return df["rsi"]

### Example -

In [3]:
import yfinance

In [4]:
Google = yfinance.download(tickers = "GOOG" , period = "1mo" , interval = "5m")

[*********************100%***********************]  1 of 1 completed

In [5]:
Google

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-11-03 09:30:00-04:00,2925.500000,2927.290039,2912.310791,2918.659912,2918.659912,38461
2021-11-03 09:35:00-04:00,2915.000000,2921.750000,2914.689941,2920.989990,2920.989990,29059
2021-11-03 09:40:00-04:00,2914.939941,2918.584961,2908.129883,2908.129883,2908.129883,21248
2021-11-03 09:45:00-04:00,2910.429932,2916.149902,2910.120117,2916.149902,2916.149902,19725
2021-11-03 09:50:00-04:00,2917.330078,2920.110107,2916.500000,2920.090088,2920.090088,16540
...,...,...,...,...,...,...
2021-12-02 15:35:00-05:00,2886.239990,2890.010010,2886.239990,2890.010010,2890.010010,11173
2021-12-02 15:40:00-05:00,2889.699951,2893.500000,2888.530029,2888.530029,2888.530029,12355
2021-12-02 15:45:00-05:00,2889.705078,2890.629883,2885.479980,2886.800049,2886.800049,14968
2021-12-02 15:50:00-05:00,2881.949951,2883.459961,2873.300049,2874.580078,2874.580078,30743
2021-12-02 15:55:00-05:00,2874.030029,2877.219971,2867.340088,2876.514893,2876.514893,65117

In [6]:
Google["RSI"] = RSI(Google)

In [7]:
Google

,Open,High,Low,Close,Adj Close,Volume,RSI
Datetime,,,,,,,
2021-11-03 09:30:00-04:00,2925.500000,2927.290039,2912.310791,2918.659912,2918.659912,38461,NaN
2021-11-03 09:35:00-04:00,2915.000000,2921.750000,2914.689941,2920.989990,2920.989990,29059,NaN
2021-11-03 09:40:00-04:00,2914.939941,2918.584961,2908.129883,2908.129883,2908.129883,21248,NaN
2021-11-03 09:45:00-04:00,2910.429932,2916.149902,2910.120117,2916.149902,2916.149902,19725,NaN
2021-11-03 09:50:00-04:00,2917.330078,2920.110107,2916.500000,2920.090088,2920.090088,16540,NaN
...,...,...,...,...,...,...,...
2021-12-02 15:35:00-05:00,2886.239990,2890.010010,2886.239990,2890.010010,2890.010010,11173,63.519276
2021-12-02 15:40:00-05:00,2889.699951,2893.500000,2888.530029,2888.530029,2888.530029,12355,61.020202
2021-12-02 15:45:00-05:00,2889.705078,2890.629883,2885.479980,2886.800049,2886.800049,14968,58.140660
2021-12-02 15:50:00-05:00,2881.949951,2883.459961,2873.300049,2874.580078,2874.580078,30743,42.782749
2021-12-02 15:55:00-05:00,2874.030029,2877.219971,2867.340088,2876.514893,2876.514893,65117,45.248787